@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-weight: 400;
    box-sizing: border-box;
}

/* body::before {
  content: "";
  position: fixed;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: red;
  z-index: 9999;
  pointer-events: none;
} */


.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    z-index: 1000;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.03);
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Mulish", sans-serif;
}

.logo {
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 100%;
}

.logo:hover{
    filter: drop-shadow(0 0 2px rgba(0,0,0,1));
}


.nav-profile {
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 100%;
    border: black solid 2px;
}

.nav-profile:hover {
    filter: 
    drop-shadow(-2px -2px 6px rgba(68, 73, 78, 0.7))
    drop-shadow(2px 2px 6px rgba(57, 56, 54, 0.7));
}

.nav-title {
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.sign-in {
    font-size: 17px;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 120px;
    border-radius: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 5px;
    transition: all 0.4s;
}

.sign-in:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}

.nav-contents::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* jarak dari text */
    width: 0;
    height: 1px;
    background: black; /* warna underline */
    transition: width 0.3s cubic-bezier(0.42,0,0.58,1);
}

.nav-contents:hover::after {
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background: rgb(0, 0, 0);
    margin-top: 60px;
    z-index: 100;
    transition: left 0.3s;
    color: white;
    transition: all 0.3s;
    overflow-y: auto;
    font-family: "Mulish", sans-serif;
}

.sidebar a {
    display: flex;
    padding-left: 14px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.sidebar a:hover {
    filter:
    drop-shadow(1px 1px 8px rgba(255, 126, 185, 0.70))
    drop-shadow(-1px -1px 8px rgba(123, 250, 255, 0.70))
    drop-shadow(0 0 10px rgba(255, 255, 255, 0.70)); 
}

#sidebar-if-else {
   border-top: solid white 1px; 
}

.python-tutorial {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 0 8px 14px;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.python-tutorial::after,
.python-tutorial::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: white;
    transition: width 0.3s cubic-bezier(.5,0,.5,1);
    transition-delay: 0s;
    transform: translateX(-50%);

}
.python-tutorial::after {
    left: 0;
    bottom: 0;
}
.python-tutorial::before {
    left: 100%;
    top: 0;
}

.python-tutorial:hover::after,
.python-tutorial:hover::before {
    width: 200%;
    transition-delay: 0.2s; 

}

#sidebar-if-else::before {
    display: none !important;
}
.content {
    margin-left: 250px;
    padding-top: 50px;
}

#if-else, #loop {
    scroll-margin-top: 80px;
}

.code-runner {
    background: #dfdfdf;
    border-radius: 10px;
    padding: 1px 16px 16px 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    max-width:80%;
}

.code-runner h3 {
    display: block;
    font-weight: 500;
    color: #000000;
}

.code-runner button {
    background: #000000;
    color: white;
    border: none;
    width: auto;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 14px;
    margin-top: 10px;
    transition: all 0.3s;
}

.code-runner button:hover {
    background: #3e3e3e;
}

.code-runner pre {
    background: #ffffff;
    color: #000000;
    padding: 10px;
    min-height: 40px;
    font-family: 'Consolas', 'Courier New', monospace;
    margin-top: 0;
    white-space: pre-wrap;
}

.tutorial {
    font-family: "Mulish", sans-serif;
}

.tutorial h1{
    font-weight: 700;
    margin-bottom: -5px;
}

.tutorial h2{
    font-weight: 500;
}

.tutorial p{
    width: 80%;
}

.next-button {
    background: #000000;
    color: white;
    border: none;
    width: auto;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 14px;
    transition: all 0.3s;
}

.next-button:hover {
    background: #3e3e3e;
}